body {
  background-colour: linear-gradient (#9a08dd 0%,#dd4c4f 40%,#7420d3 100%;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}
.profileimage {
  width: 200px;
}
